html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  display: flex;
  margin: 0 1em 0 1em;
  height: 100vh;
  line-height: 1.3em;
  text-rendering: optimizeLegibility;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1, h2, h3, h4, h5 {
  text-align: center;
  line-height: 1.2em;
}

#controls {
  width: 20%;
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #f5f5f5;
}

canvas {
  display: block;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

#help-overlay {
  position: fixed;
  inset: 0;
  display: none; /* Hidden by default */
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
  background: rgba(0,0,0,0.4);
  z-index: 9999;
}

.help-box {
  background: white;
  padding: 1rem 1.5rem;
  border-radius: 8px;
  width: min(90vw, 400px);
  box-shadow: 0 4px 20px rgba(0,0,0,0.3);
  font-family: sans-serif;
}

.help-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  margin-bottom: .75rem;
  padding-bottom: .25rem;
}

.help-header button {
  color: black;
}

#help-close {
  background: transparent;
  border: none;
  font-size: 1.25rem;
  cursor: pointer;
}
